/*The Top-Most part of the landing page*/

@font-face {
	font-family: Myfont;
	src: url();
}
.Top{
	background-color: #1F2937 ;
	height: 550px;	
}
.Heading{
	padding: 10px;
	display: flex;
	justify-content: space-around;
}
.Header{
	display: flex;
	justify-content: space-between ;
	
}
.Header-Logo{
	padding-top: 6px;
}
.Header-Logo-Text{
	margin-right: 15px;
	font-size: 24px;
	color: #F9FAF8; 
	font-family: ;
}
.Header-links{
	display: flex;
	font-family: ;
}
.one, .two, .three{
	font-size: 18px;
	color: #E5E7EB;
}
.one, .two{
	margin-right: 30px;
}
.text{
	display: flex;
	flex-direction: column;
	padding-left: 360px;       
	width: 400px;
}
.Main-text{
	display: flex;
	font-size: 48px;
	color: #F9FAF8;
	padding-top: 50px;
	font-weight: bolder;
}
.Details{
	display: flex;
	font-size: 18px;
	color: #E5E7EB;
	font-family: monospace;
	padding-top: 10px;
}
.Sign-UP{
	display: flex;
	font-size: 18px;
	color: #E5E7EB;
	font-family: monospace;
	margin-top: 10px;
	border: 5px ;
	width: 100px;
	background-color: royalblue;
	padding-left: 20px;
	border-radius: 7px 7px 7px 7px;
	height: 30px;
	padding-top: 2.5px;
}
.Captains{
	display: flex;
	justify-content: flex-end;
	height: 270px;	
	padding-right: 400px;
	margin-top: -290px;
}

/*The Middle Part of the Landing page*/

.MIDDLE{
	background-color: white;
}
#Teams{
	font-size: 36px;
	font-weight: bold;
	color: #1F2937;
	padding: 30px;
}
.First{
	display: flex;
	padding-top: 20px;
	justify-content: space-around;
	padding-left: 350px;
	padding-right: 350px;
}
.DC, .CSK, .MI, .KKR{
	border: 5px solid royalblue;
	border-radius: 7px 7px 7px 7px;
	padding-top: 1px;
}
.Names{
	display: flex;
	padding-top: 10px;
	justify-content: space-around;
	padding-left: 360px;
	padding-right: 350px;
}
.Second{
	display: flex;
	padding-top: 20px;
	justify-content: space-around;
	padding-left: 350px;
	padding-right: 350px;
}
.RCB, .RR, .PK, .SRH{
	border: 5px solid royalblue;
	border-radius: 7px 7px 7px 7px;
	padding-top: 1px;
}
.Names2{
	display: flex;
	padding-top: 10px;
	justify-content: space-around;
	padding-left: 350px;
	padding-right: 350px;
	padding-bottom: 20px;
}
.Quote{
	font-size: 36px;
	color: #1F2937;
	background-color: #E5E7EB;
	padding: 200px;
	font-style: italic;
}
.White{
	background-color: white;
}
.Royal{
	background-color: royalblue;
	padding: 100px;
	border: 150px solid white;
	border-radius: 10px 10px 10px 10px;
}
.action{
	color: white;
	font-size: 30px;
	padding-left: 200px;	
}
.signup2{
	display: flex;
	border: 3px solid white;
	width: 100px;
	border-radius: 7px 7px 7px 7px;
	padding: 5px;
}
.Copyright{
	background-color: #1F2937 ;
	font-size: 20px;
	color: white;
	padding: 60px;

}